<h1>welcome to <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
	Bookers !</h1>
<p class="text-right">CopyRight Infratop.inc</p>

<style>
 h1{
 	margin: 20px 0 0 40px;
 }

 p{
 	margin-right: 60px
 }
</style>